.main {
  background-color: #0b1d26;
}

.title {
  color: white;
  font-size: 4rem;
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}

.container {
  position: absolute;
  background-color: #0b1d26;
  height: 500vh;
}

.gallery {
  height: 100vh;
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 7vw;
  padding: 0 4rem 0 4rem;
}

.image {
  transform: rotate(-4deg);
  border: 1px solid white;
  border-radius: 5px;
}
